.titulo{
    text-align: center;
}
#primer-parrafo,p.importante,p.novelas,p.parrafo{
    font-family: serif;
}
#contenedor #primer-parrafo{
    background-color: #cee;
}
em{
    color:#933;
}
a,p.novelas a[href="https://es.wikipedia.org/wiki/el_selor_de_los_anillos"],p.novelas a[href="https://es.wikipedia.org/wiki/el_hobbit"]{
    outline: 1px solid #333;
}
html body p.fuente.parrafo{
    opacity: 100%;
}
html p.fuente a[href="https://es.wikipedia.org/wiki/gandalf"]{
    color:#000;
}
.complicado{
    color: #c62 !important;
    font-weight: 800;
}